<!DOCTYPE html>
<html>
<head>
  <title>Funtote.com - The unique fashion designer canvas tote bag.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <link rel="stylesheet" href="http://www.funtote.com/include/funtote.css" type="text/css"/>  
<link rel="shortcut icon" href="http://www.funtote.com/favicon.ico">  

<script src="http://www.funtote.com/include/funtote.js" language="javascript" type="text/javascript"></script>
<script src="http://www.funtote.com/include/fadeslideshow.js" language="javascript" type="text/javascript"></script>

<meta name="Keywords" content="designer canvas tote bag, cotton canvas tote, fashion canvas tote"> 
<meta name="description" content="Funtote.com offers a line of unique designer canvas tote bags."> 
<meta name="distribution" content="global">
<meta name="revisit-after" content="15 days">
<meta name="robots" content="FOLLOW,INDEX">


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.funtote.com/include/fadeslideshow.js">
</script>

<script type="text/javascript">

var mygallery=new fadeSlideShow({
	wrapperid: "fadeshow1", //ID of blank DIV on page to house Slideshow
	dimensions: [350, 600], //width/height of gallery in pixels. Should reflect dimensions of largest image
	imagearray: [
		["http://www.funtote.com/images/funtote_highlight.jpg"],
		["http://www.funtote.com/images/funtote_highlight4.jpg"],
		["http://www.funtote.com/images/funtote_highlight3.jpg"],
		["http://www.funtote.com/images/funtote_highlight_837_pk.jpg"],
		["http://www.funtote.com/images/funtote_highlight_832c_bb.jpg"] 
	],
	displaymode: {type:'auto', pause:2500, cycles:0, wraparound:false},
	persist: false, //remember last viewed slide and recall within same session?
	fadeduration: 1800, //transition duration (milliseconds)
	descreveal: "ondemand",
	togglerid: ""
})
</script>

</head>
<body>

<%= yield %>

</body>
</html>
